.presentation {
    padding: 3%;
    background: black;
    padding-bottom: 10%;
    h2 {
        font-size: 3em;
        margin-bottom: 1%;
    }
    p {
        line-height: 1.5em;
    }
    .photo {
        float: right;
        width: 20%;
    }
    .compétences {
        margin: 1%;
        border-radius: 20px;
        border: solid #A1CDF1;
        width: 30%;
        float: left;
    }
}
.nouveau {
    background: url("https://cpasklaire.github.io/Portfolio/public/image/composant/attractive.jpg");
    padding: 3%;
    background-size: cover;
    
    h2 {
        font-size: 3em;
        margin-bottom: 5%;
    }
    .projet {
        padding: 3%;
        background: rgba(0, 0, 0, 0.9);
        display: flex;
        justify-content: space-around;
        border-radius: 50px;
        border: #A1CDF1 solid 2px;
        article {
            width: 30%;
            
            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                flex-direction: column;
            }
            h3 {
                font-size: 2em;
                margin-bottom: 2%;
            }
            img {
                max-width: 300px;
                width: 90%;
                height: 300px;
                border-radius: 100%;
            }
        }            
    }        
    h4 {
        margin-top: 4%;
        margin-bottom: 2%;
        
        a{
            margin-left: 60%;
            background: rgba(0, 0, 0, 0.9);
            //background-size: contain;
            padding: 3%;
            //background-repeat: no-repeat;
            border: $couleur-texte solid 3px;
            border-radius: 15px;
            font-size: 2em;

        }
    }
}
.contact {
    background: url(../image/composant/cadre.png),black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center ;
    padding: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
    h2 {
        font-size: 3em;
        margin-bottom: 5%;
    }
    p {
    color: $couleur-titreclaire;
    }
    a {
        padding: 3%;
        font-size: 2em;
    }
}