.presentation {
    padding: 3%;
    background: $couleur-fondfonce;
    padding-bottom: 10%;
    h2 {
        font-size: 3em;
        margin-bottom: 1%;
    }
    .photo {
        float: right;
        width: 20%;
    }
    .compétences {
        margin: 1%;
        border-radius: 20px;
        border: solid #A1CDF1;
        width: 30%;
        float: left;
    }
}