.ocr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-content: center;
    width: 100%;
    .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;        
    }
    h4 {
        color: $couleur-primaire;
        text-align: center;
        padding-top: 10%;
        padding-bottom: 3%;

    }

    article {
        .tete {
            display: flex;
            align-items: center;
            flex-direction: column;        
            background-position: center;
            background-size: 30%;
            background-repeat: no-repeat;
            .tech {
                display: flex;
                flex-direction: row;
            }
        }
        .projet {
            display: flex;
            align-items: center;    
            
            img {
                width: 100%;
            }
            .apercu {
                img {
                    width: 40%;
                }}
        }
    }
}

video {
    width: 38%;
}