/*animation pop up*/
.miniature {
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    &:target {
      visibility: visible;
      opacity: 1;
    }
  }  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 2s ease-in-out;
    .close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
    }
  }
  
/*corps pop up*/
  .apercu {
      width: 100%;

      .titre {
        display: flex;
        flex-direction: column;
        align-items: center;
        h5, a {
          font-family: $font-popup;
        }
      }
      img {
        width: 100%;
      }
      video {
        width: 90%;
      }
      /*post it*/
      .tech {
        background:#FFFFA5;
        display:block;
        height:115px;
        width:115px;
        padding:15px;
        box-shadow: $couleur-ombre -2px 5px 2px;
        
        -webkit-transform: rotate(-6deg);
        -o-transform: rotate(-6deg);
        -moz-transform:rotate(-6deg);  


        li {
          font-family: $font-popup;
        }
      }
  }

.homyfood, .groupomania, .orinoco{
  .tech{
    position: absolute;
    bottom: 200px;
    right: 45px;
  }
}
.reservia{
  .tech{
        position: absolute;
        bottom: 15px;
        right: 200px;
  }
}

.orinoco{
  .tech{
font-size: 0.7em;
  }
}