<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cpasklaire.github.io/Portfolio/public/css/style.css" />
    <link rel="icon" href="https://cpasklaire.github.io/Portfolio/public/image/composant/cerbere.png">
    <meta name="description" content="Cléa, developeur web">
    <title>Projets Cléa Le Roux</title>
</head>

<body class="projet">
    <header>
      <a href="https://cpasklaire.github.io/Portfolio/" class="esprit">
        <img src="https://cpasklaire.github.io/Portfolio/public/image/composant/cerbere.png" alt="logo CerbéreCorp">
        <h1>CerberCorp</h1>
      </a>
      <nav>
        <a href="https://cpasklaire.github.io/Portfolio/templates/projets.html">Mes projets</a>
      </nav>
    </header>

    <section class="pro">
        <a href="#commande"><h2>Commande</h2></a>
        <div id="commande">
            <a class="fermer" href="#">fermer</a>
            <div class="article">
                <article id="solnatt">
                    <h3>Julie Solnatt</h3>
                    <div class="details">
                        <img src="https://cpasklaire.github.io/Portfolio/public/image/projets/solnatt.png" alt="Site julie Solnatt">
                        <div class="decription">
                            <p>Site d'e-commerce sur Wordpress</p>
                            <h4>Compétences</h4>
                            <ul>
                                <li>Wordpress</li>
                                <li>SEO</li>
                                <li>Relation client</li>
                            </ul>
                            <a href="">Accéder au site</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="devphp">
        <a href="#devphp"><h2>Formation PHP</h2></a>
        <div id="devphp">
            <a class="fermer" href="#">fermer</a>
            <div class="article">
                <article id="todolist">
                    <h3>ToDo & Co</h3>
                    <div class="details">
                        <img src="https://cpasklaire.github.io/Portfolio/public/image/projets/todolist.jpg" alt="Illustration site ToDo & Co">
                        <div class="decription">
                            <p>Amélioration d'un site symfony existant</p>
                            <h4>Compétences</h4>
                            <ul>
                                <li>Tests unitaires et fonctionnels</li>
                                <li>Implémenter de nouvelles fonctionnalités</li>
                                <li>Lire et retranscrire le code écrit par d’autres développeurs</li>
                                <li>Analyse de la qualité de code et la performance</li>
                                <li>Plan pour réduire la dette technique</li>
                                <li>Patchs correctifs</li>
                                <li>Force de proposition</li>
                            </ul>
                            <a href="https://github.com/Cpasklaire/ToDoList">Accéder au github</a>
                        </div>
                    </div>
                </article>
                <article id="bilemo">
                    <h3>BileMo</h3>
                    <div class="details">
                        <img src="https://cpasklaire.github.io/Portfolio/public/image/projets/bilemo.png" alt="Illustration site BileMo">
                        <div class="decription">
                            <p>Créez un web service exposant une API</p>
                            <h4>Compétences</h4>
                            <ul>
                                <li>API REST avec Symfony</li>
                                <li>Concevoir une architecture efficace et adaptée</li>
                                <li>Analyser et optimiser les performances</li>
                                <li>Suivre la qualité d’un projet</li>
                                <li>Lancer une authentification à chaque requête HTTP</li>
                                <li>Produire une documentation technique</li>
                            </ul>
                            <a href="https://github.com/Cpasklaire/BileMo">Accéder au github</a>
                        </div>
                    </div>
                </article>
                <article>
                    <h3>SnowTricks</h3>
                    <div class="details">
                        <img src="https://cpasklaire.github.io/Portfolio/public/image/projets/snow.png" alt="Illustration site SnowTricks">
                        <div class="decription">
                            <p>Développez de A à Z un site communautaire avec symfony</p>
                            <h4>Compétences</h4>
                            <ul>
                                <li>Prendre en main le framework Symfony</li>
                                <li>Développer les fonctionnalités attendues par le client</li>
                                <li>Gérer une base de données MySQL avec Doctrine</li>
                                <li>Code lisible et la maintenable</li>
                                <li>Prendre en main le moteur de templating Twig</li>
                                <li>Respecter les bonnes pratiques de développement en vigueur</li>
                            </ul>
                            <a href="https://github.com/Cpasklaire/SnowTricks">Accéder au github</a>
                        </div>
                    </div>
                </article>
                <article>
                    <h3>Blog PHP</h3>
                    <div class="details">
                        <img src="https://cpasklaire.github.io/Portfolio/public/image/projets/blog.png" alt="Illustration site blog">
                        <div class="decription">
                            <p>Créez un blog en PHP</p>
                            <h4>Compétences</h4>
                            <ul>
                                <li>Choisir une solution technique adaptée</li>
                                <li>Gérer une base de données</li>
                                <li>Rédiger les spécifications détaillées du projet</li>
                                <li>Assurer le suivi qualité d’un projet</li>
                                <li>Estimer une tâche et tenir les délais</li>
                                <li>Conceptualiser l'ensemble de son application en décrivant sa structure</li>
                                <li>Proposer un code propre et évolutif</li>
                                <li>Créer une page web permettant de recueillir les informations saisies par un internaute</li>
                                <li>Analyser un cahier des charges</li>
                                <li>Créer et maintenir l’architecture technique du site</li>
                            </ul>
                            <a href="https://github.com/Cpasklaire/PersonalBlog">Accéder au github</a>
                        </div>
                    </div>
                </article>
                <article>
                    <h3>Films de Plein Air</h3>
                    <div class="details">
                        <img src="https://cpasklaire.github.io/Portfolio/public/image/projets/film.png" alt="Illustration site festival film">
                        <div class="decription">
                            <p>Analyse des besoins de client pour son festival de films</p>
                            <h4>Compétences</h4>
                            <ul>
                                <li>Choisir une solution technique adaptée</li>
                                <li>Rédiger les spécifications détaillées d'un projet</li>
                                <li>Analyser un cahier des charges</li>
                                <li>Lister les fonctionnalités demandées par un client</li>
                            </ul>
                            <a href="https://cpasklaire.github.io/CleaLeRoux_3_042022/">Accéder au site</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <section class="devweb">
        <a href="#devweb"><h2>Formation Web</h2></a>
        <div id="devweb">
            <a class="fermer" href="#">fermer</a>
            <div class="article">
                <article>
                    <h3>Groupomania</h3>
                    <div class="details">
                        <img src="https://cpasklaire.github.io/Portfolio/public/image/projets/groupomania.png" alt="Illustration site Groupomania">
                        <div class="decription">
                            <p>Création un réseau social d’entreprise</p>
                            <h4>Compétences</h4>
                            <ul>
                                <li>AuthentiKer un utilisateur et maintenir sa session</li>
                                <li>Implémenter un stockage de données sécurisé en utilisant une base de données</li>
                                <li>Développer l’interface d’un site web grâce à un framework front-end</li>
                            </ul>
                            <a href="https://github.com/Cpasklaire/CleaLeRoux_7_05112021">Accéder au github</a>
                        </div>
                    </div>
                </article>
                <article>
                    <h3>Piiquante</h3>
                    <div class="details">
                        <img src="https://cpasklaire.github.io/Portfolio/public/image/projets/piiquante.png" alt="Illustration site Piiquante">
                        <div class="decription">
                            <p>Construction une API sécurisée pour une application d'avis gastronomiques</p>
                            <h4>Compétences</h4>
                            <ul>
                                <li>Mettre en œuvre des opérations CRUD de manière sécurisée</li>
                                <li>Stocker des données de manière sécurisée</li>
                                <li>Implémenter un modèle logique de données conformément à la réglementation</li>
                            </ul>
                            <a href="https://github.com/Cpasklaire/CleaLeRoux_6_14092021">Accéder au github</a>
                        </div>
                    </div>
                </article>
                <article>
                    <h3>Orinoco</h3>
                    <div class="details">
                        <img src="https://cpasklaire.github.io/Portfolio/public/image/projets/orinoco.png" alt="Illustration site Orinoco">
                        <div class="decription">
                            <p>Construction d'un site e-commerce</p>
                            <h4>Compétences</h4>
                            <ul>
                                <li>Créer un plan de test pour une application</li>
                                <li>Interagir avec un web service avec JavaScript</li>
                                <li>Valider des données issues de sources externes</li>
                                <li>Gérer des événements JavaScript</li>
                            </ul>
                            <a href="https://github.com/Cpasklaire/CleaLeRoux_5_08062021">Accéder au github</a>
                        </div>
                    </div>
                </article>
                <article>
                    <h3>La chouette agence</h3>
                    <div class="details">
                        <img src="https://cpasklaire.github.io/Portfolio/public/image/projets/chouette.png" alt="Illustration site chouette agence">
                        <div class="decription">
                            <p>Optimisation d'un site web existant</p>
                            <h4>Compétences</h4>
                            <ul>
                                <li>Écrire un code HTML et CSS maintenable</li>
                                <li>Assurer l'accessibilité d'un site web</li>
                                <li>Optimiser le référencement d'un site web</li>
                                <li>Réaliser une recherche des bonnes pratiques en développement web</li>
                                <li>Optimiser la taille et la vitesse d’un site web</li>
                            </ul>
                            <a href="https://cpasklaire.github.io/CleaLeRoux_4_19072021/">Accéder au site</a>
                        </div>
                    </div>
                </article>
                <article>
                    <h3>Ohmyfood</h3>
                    <div class="details">
                        <img src="https://cpasklaire.github.io/Portfolio/public/image/projets/HoMyFood.png" alt="Illustration site ho my food">
                        <div class="decription">
                            <p>Dynamisation d'une page web avec des animations CSS</p>
                            <h4>Compétences</h4>
                            <ul>
                                <li>Utiliser un système de gestion de versions pour le suivi du projet et son hébergement</li>
                                <li>Mettre en place son environnement Front-End</li>
                                <li>Assurer la cohérence graphique d'un site web</li>
                                <li>Mettre en place une structure de navigation pour un site web</li>
                                <li>Mettre en œuvre des effets CSS graphiques avancés</li>
                            </ul>
                            <a href="https://cpasklaire.github.io/CleaLeRoux_3_23062021/">Accéder au site</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>


    
    <footer>
      <img src="https://cpasklaire.github.io/Portfolio/public/image/composant/cerbere.png" alt="logo CerbéreCorp">
    </footer>

  </body>
</html>