@media  (max-width: 1025px) and (min-width: 0px)
{
    header {
        .presentation{
            margin-top: 2%;

        }
        .cv {
            height: 500px;
            background-repeat: no-repeat;  
            background-size: 100%;
        }
    }
}