@media  (max-width: 1025px) and (min-width: 769px)
{
    header {
        .presentation{
            margin-top: 2%;
        }
        .cv {
            height: 500px;
            background-repeat: no-repeat;  
            background-size: 100%;
        }
    }
    .homyfood, .groupomania, .orinoco {
        .tech {
        position: absolute;
        bottom: 100px;
        right: 0px;
        }
    }
    .reservia .tech {
        position: absolute;
        bottom: 15px;
        right: 10px;
    }
}

@media  (max-width: 768px) and (min-width: 426px)
{
    header {
        .cv {
            height: 550px;
            background-repeat: no-repeat;  
            background-size: 100%;
        }
    }
    .ocr .row {
        flex-direction: column;
    }
    .ocr article .projet .miniature img {
        width: 140%;
        margin-right: 00px;
        margin-left: -100px;
    }
    .popup {
        width: 90%;
    }
}

@media  (max-width: 425px) and (min-width: 0px)
{
    
}