@font-face {
    font-family: 'GiveYouGlory';
    src: url(https://raw.githubusercontent.com/Cpasklaire/Portfolio/main/public/css/GiveYouGlory/GiveYouGlory.ttf);
}    
    @font-face {
    font-family: 'Starjedi';
    src: url(https://raw.githubusercontent.com/Cpasklaire/Portfolio/main/public/css/Starjedi/Startjedi.ttf)
}

*
{
  font-family: 'GiveYouGlory';
  color: #4169E1;
}
body
  {
    background-image: url("https://raw.githubusercontent.com/Cpasklaire/Portfolio/main/public/css/image/paper-texture.jpg");
    background-position: center;
    background-size: cover;
    margin-left: 5%;
    margin-right: 5%;
  }