@font-face {
    font-family: 'GiveYouGlory';
    src: url(/public/css/GiveYouGlory/GiveYouGlory.ttf);}

*
{
  font-family: 'GiveYouGlory';
  color: #4169E1;
}
body
  {
    background-image: url("/public/css/image/paper-texture.jpg");
    background-position: center;
    background-size: cover;
  }